<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.sec.app.RilErrorNotifier" android:sharedUserId="android.uid.system">
   <application android:label="@string/app_name">
      <receiver android:name=".PhoneErrorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.RIL_RESET_ACTION" />
            </intent-filter>
      </receiver>
   </application>
</manifest>
